---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import { FaCheckCircle } from "react-icons/fa";
import { PHONE_NUMBER, EMAIL_ADDRESS } from "../consts";
const headerData = {
  headerH1: `Thank you for contacting`,
  imagePath: "/src/assets/sun-city-aviation-academy-seaplane.jpg",
  imageAlt: "Sun City Aviation Academy Team",
};
---

<BaseLayout siteTitle="Contact Confirmation | Sun City Aviation Academy">
  <Header data={headerData} />

  <section class="py-16 px-5 bg-white">
    <div
      class="flex flex-col items-center text-2xl mx-auto text-center gap-8 max-w-2xl bg-primary-200 rounded-xl p-8"
    >
      <FaCheckCircle
        className="text-9xl text-accent-400 hover:text-accent-300 duration-500 ease-in-out"
      />

      <p class="text-gray-600 leading-relaxed">
        Thank you for contacting <strong>Sun City Aviation Academy</strong>. We
        are looking forward to working with you soon. We will review your
        message and get back with you within 1-5 business days.
      </p>
      <p class="text-gray-600 leading-relaxed">
        You can also give us a call at <a
          class="text-primary hover:text-primary-950 hover:underline duration-300"
          href=`tel:${PHONE_NUMBER}`
          >{PHONE_NUMBER}
          <br />
        </a> or send us an email at <a
          class="text-primary hover:text-primary-950 hover:underline duration-300"
          href=`mailto:${EMAIL_ADDRESS}`>{EMAIL_ADDRESS}</a
        >.
      </p>
    </div>
  </section>
</BaseLayout>
