---
import BaseLayout from "../layouts/BaseLayout.astro";
import homePage from "../data/homePage";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import HeaderScreen from "../components/HeaderScreen.astro";
const { data } = homePage;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
---

<BaseLayout
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <!-- HEADER -->
  <HeaderScreen content={data.header} />

  <!-- Content 1 -->
  <div class="font-sans2">
    <!-- <Image 
    src={data.contentOneImage}
    alt={data.contentOneAlt}
    class=""
  />  -->
  </div>
</BaseLayout>
