---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const { data } = Astro.props;
---

<section
  id="blogfeed"
  class="relative isolate overflow-hidden bg-gray-50 px-6 pt-16 pb-36 lg:overflow-visible lg:px-0"
>
  <div class="mx-auto max-w-6xl lg:pr-4">
    <div class="my-9 text-center">
      {
        data.upperHeading && (
          <h3 class="mx-auto mt-12 uppercase text-lg lg:text-xl lg:max-w-3xl font-sans text-center font-bold tracking-tight text-accent-300">
            {data.upperHeading}
          </h3>
        )
      }
      {
        data.heading && (
          <h2 class="mx-auto mb-3 text-4xl lg:text-6xl lg:max-w-3xl font-sans text-center font-bold tracking-tight text-primary-800">
            {data.heading}
          </h2>
        )
      }
      {
        data.heading && (
          <p class="mx-auto mb-12 text-lg max-w-3xl text-center tracking-loose text-muted-700">
            {data.description}
          </p>
        )
      }
    </div>
  </div>
  <div
    class="w-full flex flex-wrap gap-3 lg:gap-6 mt-16 mx-auto justify-center"
  >
    {
      posts.map((post, index) => (
        <article class="relative group w-full lg:m-0 md:w-2/5 lg:w-1/4 isolate flex flex-col justify-end overflow-hidden rounded-md bg-white px-8 pb-8 pt-48 hover:ring-1 hover:ring-accent-300 duration-200">
          <img
            src={post.data.heroImage}
            alt={`Sun City Aviation Academy Blog - ${post.data.title}`}
            loading="lazy"
            aspect-ratio="1/1"
            class="absolute inset-0 -z-10 h-full w-full object-cover group-hover:scale-110 group-hover:brightness-125 duration-200"
          />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-primary-950 to-primary-950/20 group-hover:bg-primary-800/60 duration-200" />
          <div class="absolute inset-0 -z-10 rounded-md ring-1 ring-inset ring-gray-900/10" />

          <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-100">
            <time datetime="2020-03-16" class="mr-8 text-accent-400">
              <FormattedDate date={post.data.pubDate} />
            </time>
            <div class="-ml-4 flex items-center gap-x-4">
              <svg
                viewBox="0 0 2 2"
                class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50"
              >
                <circle cx="1" cy="1" r="1" />
              </svg>
              <div class="flex font-bold text-base text-accent-200">
                {post.data.author}
              </div>
            </div>
          </div>
          <h3 class="mt-3 text-lg font-bold leading-6 text-primary-100">
            <a href={`/blog/${post.slug}/`}>
              <span class="absolute inset-0" />
              {post.data.title}
            </a>
          </h3>
        </article>
      ))
    }
  </div>
</section>
